In [ ]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 5.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619456 sha256=2840fcf27f4bb5ec07b9993e8401d83083070c4b0adcbb42e3d4a231e4e24d20
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [88]:
import pandas as pd
from surprise import accuracy

In [82]:
from surprise import SVD
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate, GridSearchCV, train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_dir = '/content/drive/MyDrive/256-project/deezer_features.csv'

In [ ]:
df = pd.read_csv(file_dir, header=None)

In [ ]:
df.head()

   0         1         2         3   ...        53        54        55        56
0   1 -0.007510  0.002892  0.006003  ...  0.459391  0.193252  0.139495  0.151400
1   2 -0.172181 -0.082732  0.135843  ...  0.333660  0.161552  0.120748  0.167415
2   3 -0.157183  0.009618  0.088339  ...  0.153438  0.186358  0.148314  0.113224
3   4 -0.124824 -0.020829  0.109950  ...  0.606095  0.376574  0.045419  0.033385
4   5 -0.261996 -0.288156  0.197021  ...  0.206979  0.045804  0.141537  0.142070

[5 rows x 57 columns]

In [ ]:
df_melted = pd.melt(df, id_vars=[0], value_vars=list(range(1,57)))

In [ ]:
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359120 entries, 0 to 1359119
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   0         1359120 non-null  int64
 1   variable  1359120 non-null  int64
 2   value     1359120 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 31.1 MB

In [ ]:
df_melted.head(10)

    0  variable     value
0   1         1 -0.007510
1   2         1 -0.172181
2   3         1 -0.157183
3   4         1 -0.124824
4   5         1 -0.261996
5   6         1 -0.010896
6   7         1 -1.713777
7   8         1 -0.007510
8   9         1 -0.890512
9  10         1 -0.004124

In [ ]:
df_melted = df_melted.sort_values(by=['variable'])

In [ ]:
df_country = df_melted[(df_melted.variable > 32) & (df_melted.variable < 53)]

In [ ]:
df_country

             0  variable  value
792817   16178        33    0.0
792818   16179        33    0.0
792823   16184        33    0.0
792820   16181        33    0.0
792821   16182        33    0.0
...        ...       ...    ...
1245859   8090        52    0.0
1245858   8089        52    0.0
1245857   8088        52    0.0
1245856   8087        52    1.0
1245864   8095        52    0.0

[485400 rows x 3 columns]

In [ ]:
df_country = df_country.sort_values(by=0)

In [ ]:
df_c = df_country[df_country[0] <= 100]

In [ ]:
df_c

           0  variable  value
1164960    1        49    0.0
1237770    1        52    0.0
1213500    1        51    0.0
873720     1        37    0.0
922260     1        39    0.0
...      ...       ...    ...
801009   100        34    0.0
922359   100        39    0.0
1116519  100        47    0.0
1043709  100        44    0.0
1019439  100        43    0.0

[2000 rows x 3 columns]

In [ ]:
train_ds = Dataset.load_from_df(df_c,Reader(rating_scale=(0,1)))

In [ ]:
svd = SVD(n_factors=10, reg_all=0.1, biased=True)

In [ ]:
cross_validate(svd, train_ds, cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2332  0.2187  0.1937  0.1841  0.2142  0.2088  0.0177
MAE (testset)     0.1025  0.0885  0.0847  0.0749  0.0918  0.0885  0.0090
Fit time          0.03    0.02    0.03    0.03    0.03    0.03    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{'fit_time': (0.02787923812866211,
  0.024306297302246094,
  0.02651357650756836,
  0.025467872619628906,
  0.030232667922973633),
 'test_mae': array([0.10254027, 0.08854902, 0.08473432, 0.07488596, 0.09175325]),
 'test_rmse': array([0.23319248, 0.21868248, 0.19371121, 0.18412423, 0.21422197]),
 'test_time': (0.0030994415283203125,
  0.0027501583099365234,
  0.0028362274169921875,
  0.004204273223876953,
  0.002920866012573242)}

In [80]:
sim_options = {
    'name': 'cosine',
    'user_based':True  
}

In [81]:
knn_bas = surprise.prediction_algorithms.KNNBasic(sim_options=sim_options)

In [84]:
training, testing = train_test_split(train_ds, test_size=0.2, random_state=1, shuffle=True)

In [86]:
knn_bas.fit(training)

Computing the cosine similarity matrix...
Done computing similarity matrix.

/usr/local/lib/python3.7/dist-packages/surprise/prediction_algorithms/algo_base.py:249: RuntimeWarning: invalid value encountered in double_scalars
  sim = construction_func[name](*args)

In [87]:
predictions_knn = knn_bas.test(testing)

In [89]:
accuracy.rmse(predictions_knn, verbose=True)

RMSE: 0.2138

0.21380481753225297